@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<POS.Repository.OrdersEntity>
@{
    ViewBag.Title = "Order";
    Layout = "_Layout";
}
<h2>Order</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button" id="btn-add">Add Order</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>EmployeeId</th>
            <th>OrderDate</th>
            <th>RequiredDate</th>
            <th>ShippedDate</th>
            <th>ShipperId</th>
            <th>ShipVia</th>
            <th>Freight</th>
            <th>ShipName</th>
            <th>ShipAddress</th>
            <th>ShipCity</th>
            <th>ShipRegion</th>
            <th>ShipPostalCode</th>
            <th>ShipCountry</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CustomersId</td>
                <td>@item.EmployeesId</td>
                <td>@item.OrderDate</td>
                <td>@item.RequiredDate</td>
                <td>@item.ShippedDate</td>
                <td>@item.ShipperId</td>
                <td>@item.ShipVia</td>
                <td>@item.Freight</td>
                <td>@item.ShipName</td>
                <td>@item.ShipAddress</td>
                <td>@item.ShipCity</td>
                <td>@item.ShipRegion</td>
                <td>@item.ShipPostalCode</td>
                <td>@item.ShipCountry</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            //alert("Ah ... kamu kok sentuh aku");
            $.ajax({
                url: "/Order/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#my-modal").find(".modal-body").html(data);
                    $("#my-modal").modal("show");
                }
            });

        });
    </script>
}*@


